<a href="https://colab.research.google.com/github/vsneha2002/datatset1/blob/main/Hackerearth_AMazon_contest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as npn
import pandas as pd
import seaborn as sns

In [ ]:
df=pd.read_csv('dataset_final.csv')
df1=pd.read_csv('test_dataset_final.csv')

In [ ]:
df.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Name
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,...,Sunny,High,2,Snack,motorcycle,0.0,No,Urban,24.0,object
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,...,Stormy,Jam,2,Snack,scooter,1.0,No,Metropolitian,33.0,object
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,...,Sandstorms,Low,0,Drinks,motorcycle,1.0,No,Urban,26.0,object
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,...,Sunny,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21.0,object
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,...,Cloudy,High,1,Snack,scooter,1.0,No,Metropolitian,30.0,object

In [ ]:





df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID	                          45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          43739 non-null  float64
 3   Delivery_person_Ratings      43685 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  43862 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weather conditions           44977 non-null  object
 12  Road_traffic_density         44992 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          44600 non-null  float64
 17  Festival                     45365 non-null  object
 18  City                         44393 non-null  object
 19  Time_taken (min)             45593 non-null  float64
 20  Name                         45593 non-null  object
dtypes: float64(8), int64(1), object(12)
memory usage: 7.3+ MB

In [ ]:
df.isnull().sum()

ID\t                              0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
Name                              0
dtype: int64

In [ ]:
df.nunique()

ID\t                           45593
Delivery_person_ID              1320
Delivery_person_Age               22
Delivery_person_Ratings           28
Restaurant_latitude              657
Restaurant_longitude             518
Delivery_location_latitude      4373
Delivery_location_longitude     4373
Order_Date                        44
Time_Orderd                      176
Time_Order_picked                193
Weather conditions                 6
Road_traffic_density               4
Vehicle_condition                  4
Type_of_order                      4
Type_of_vehicle                    4
multiple_deliveries                4
Festival                           2
City                               3
Time_taken (min)                  45
Name                               1
dtype: int64

In [ ]:
df['Delivery_person_Age'].unique()

array([37., 34., 23., 38., 32., 22., 33., 35., 36., 21., 24., 29., 25.,
       31., 27., 26., 20., nan, 28., 39., 30., 15., 50.])

In [ ]:
a=df['Delivery_person_Age'].median()

In [ ]:
a

30.0

In [ ]:
df['Delivery_person_Age']=df["Delivery_person_Age"].fillna(30.0)

In [ ]:
df['Delivery_person_Age']

0        37.0
1        34.0
2        23.0
3        38.0
4        32.0
         ...
45588    30.0
45589    21.0
45590    30.0
45591    20.0
45592    23.0
Name: Delivery_person_Age, Length: 45593, dtype: float64

In [ ]:
df['Age'] = pd.cut(x=df['Delivery_person_Age'], bins=[10,20, 29, 39, 49,59], labels=['10s','20s', '30s', '40s','50s'])

In [ ]:
df["Age"]

0        30s
1        30s
2        20s
3        30s
4        30s
        ...
45588    30s
45589    20s
45590    30s
45591    10s
45592    20s
Name: Age, Length: 45593, dtype: category
Categories (5, object): ['10s' < '20s' < '30s' < '40s' < '50s']

In [ ]:
df['Delivery_person_Age'].unique()

array([37., 34., 23., 38., 32., 22., 33., 35., 36., 21., 24., 29., 25.,
       31., 27., 26., 20., 30., 28., 39., 15., 50.])

In [ ]:
df.isnull().sum()

ID\t                              0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
Name                              0
Age                               0
dtype: int64

In [ ]:
df['Weather conditions'].unique()

array(['Sunny', 'Stormy', 'Sandstorms', 'Cloudy', 'Fog', 'Windy', nan],
      dtype=object)

In [ ]:
b=df['Weather conditions'].mode()

In [ ]:
df['Weather conditions']=df["Weather conditions"].fillna('Fog')

In [ ]:
df.isnull().sum()

ID\t                              0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather conditions                0
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
Name                              0
Age                               0
dtype: int64

In [ ]:
df['City'].unique()

array(['Urban', 'Metropolitian', 'Semi-Urban', nan], dtype=object)

In [ ]:
df['City'].mode()

0    Metropolitian
Name: City, dtype: object

In [ ]:
df['City']=df["City"].fillna('Metropolitian')

In [ ]:
df['Festival'].unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
df['Festival'].mode()

0    No
Name: Festival, dtype: object

In [ ]:
df['Festival']=df["Festival"].fillna('No')

In [ ]:
df['multiple_deliveries'].unique()

array([ 0.,  1.,  3., nan,  2.])

In [ ]:
df['multiple_deliveries'].median()

1.0

In [ ]:
df['multiple_deliveries']=df['multiple_deliveries'].fillna(1.0)

In [ ]:
df['Road_traffic_density'].unique()

array(['High', 'Jam', 'Low', 'Medium', nan], dtype=object)

In [ ]:
df['Road_traffic_density'].mode()

0    Low
Name: Road_traffic_density, dtype: object

In [ ]:
df['Road_traffic_density']=df['Road_traffic_density'].fillna('Low')

In [ ]:
df1.isnull().sum()

ID\t                             0
Delivery_person_ID               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Time_Order_picked                0
Weather conditions             158
Road_traffic_density           154
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            238
Festival                        65
City                           324
Name                             0
dtype: int64

In [ ]:
from datetime import datetime

In [ ]:
df['Time_Orderd'] = df['Time_Orderd'].values.astype(datetime)

In [ ]:
print(df['Time_Orderd'].mode())

0    21:55
Name: Time_Orderd, dtype: object

In [ ]:
df['Time_Orderd']=df['Time_Orderd'].fillna("21:55")

In [ ]:
print(df1['Time_Orderd'].mode())

0    18:20
Name: Time_Orderd, dtype: object

In [ ]:
df1['Time_Orderd']=df['Time_Orderd'].fillna("21:55")

In [ ]:
df1['Road_traffic_density'].mode()

0    Low
Name: Road_traffic_density, dtype: object

In [ ]:
df1['Road_traffic_density']=df1['Road_traffic_density'].fillna('Low')

In [ ]:
df1['multiple_deliveries'].median()

1.0

In [ ]:
df1['multiple_deliveries']=df1['multiple_deliveries'].fillna(1.0)

In [ ]:
df1['Festival'].mode()

0    No
Name: Festival, dtype: object

In [ ]:
df1['Festival']=df1["Festival"].fillna('No')

In [ ]:
df1['City'].mode()

0    Metropolitian
Name: City, dtype: object

In [ ]:
df1['City']=df1["City"].fillna('Metropolitian')

In [ ]:
df1['Weather conditions'].mode()

0    Sunny
Name: Weather conditions, dtype: object

In [ ]:
df1['Weather conditions']=df1["Weather conditions"].fillna('Sunny')

In [ ]:
x=df1['Delivery_person_Age'].median()

In [ ]:
x

30.0

In [ ]:
df1['Delivery_person_Age']=df1["Delivery_person_Age"].fillna(30.0)

In [ ]:
df1['Age'] = pd.cut(x=df['Delivery_person_Age'], bins=[10,20, 29, 39, 49,59], labels=['10s','20s', '30s', '40s','50s'])

In [ ]:
df1.isnull().sum()

ID\t                             0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings        507
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                      0
Time_Order_picked                0
Weather conditions               0
Road_traffic_density             0
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries              0
Festival                         0
City                             0
Name                             0
Age                              0
dtype: int64

In [ ]:
df.isnull().sum()

ID\t                              0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weather conditions                0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries               0
Festival                          0
City                              0
Time_taken (min)                  0
Name                              0
Age                               0
dtype: int64

In [ ]:
df['Delivery_person_Ratings'].mode()

0    4.8
Name: Delivery_person_Ratings, dtype: float64

In [ ]:
df['Delivery_person_Ratings']=df["Delivery_person_Ratings"].fillna(4.8)

In [ ]:
df1['Delivery_person_Ratings'].mode()

0    4.9
Name: Delivery_person_Ratings, dtype: float64

In [ ]:
df1['Delivery_person_Ratings']=df1["Delivery_person_Ratings"].fillna(4.9)

In [ ]:
df.isnull().sum()

ID\t                           0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
Name                           0
Age                            0
dtype: int64

In [ ]:
df.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Name,Age
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,...,High,2,Snack,motorcycle,0.0,No,Urban,24.0,object,30s
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,...,Jam,2,Snack,scooter,1.0,No,Metropolitian,33.0,object,30s
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,...,Low,0,Drinks,motorcycle,1.0,No,Urban,26.0,object,20s
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,...,Medium,0,Buffet,motorcycle,1.0,No,Metropolitian,21.0,object,30s
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,...,High,1,Snack,scooter,1.0,No,Metropolitian,30.0,object,30s

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

In [ ]:
df.Road_traffic_density=le.fit_transform(df.Road_traffic_density)
df1.Road_traffic_density=le.fit_transform(df1.Road_traffic_density)

In [ ]:
df.Type_of_order=le.fit_transform(df.Type_of_order)
df1.Type_of_order=le.fit_transform(df1.Type_of_order)

In [ ]:
df.Type_of_vehicle=le.fit_transform(df.Type_of_vehicle)
df1.Type_of_vehicle=le.fit_transform(df1.Type_of_vehicle)

In [ ]:
df.Festival=le.fit_transform(df.Festival)
df1.Festival=le.fit_transform(df1.Festival)

In [ ]:
df.City=le.fit_transform(df.City)
df1.City=le.fit_transform(df1.City)

In [ ]:
df.Age=le.fit_transform(df.Age)
df1.Age=le.fit_transform(df1.Age)

In [ ]:
df['Weather conditions']=le.fit_transform(df['Weather conditions'])
df1['Weather conditions']=le.fit_transform(df1['Weather conditions'])

In [ ]:
df.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Name,Age
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,...,0,2,3,2,0.0,0,2,24.0,object,2
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,...,1,2,3,3,1.0,0,0,33.0,object,2
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,...,2,0,1,2,1.0,0,2,26.0,object,1
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,...,3,0,0,2,1.0,0,0,21.0,object,2
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,...,0,1,3,3,1.0,0,0,30.0,object,2

In [ ]:
df1.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Name,Age
0,0x2318,COIMBRES13DEL01,30.0,4.9,11.003669,76.976494,11.043669,77.016494,30-03-2022,11:30,...,4,2,3,1,1,1.0,0,0,object,2
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,19:45,...,5,1,0,3,2,1.0,0,0,object,2
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,8:30,...,3,1,0,1,2,1.0,0,0,object,1
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:60,...,1,3,1,2,3,1.0,0,0,object,2
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,13:30,...,4,3,2,1,3,1.0,0,0,object,2

In [ ]:
train=df.drop(['Name'],axis=1)
test=df1.drop(['Name'],axis=1)

In [ ]:
df.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Name,Age
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,...,0,2,3,2,0.0,0,2,24.0,object,2
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,...,1,2,3,3,1.0,0,0,33.0,object,2
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,...,2,0,1,2,1.0,0,2,26.0,object,1
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,...,3,0,0,2,1.0,0,0,21.0,object,2
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,...,0,1,3,3,1.0,0,0,30.0,object,2

In [ ]:
train.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Age
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,...,4,0,2,3,2,0.0,0,2,24.0,2
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,...,3,1,2,3,3,1.0,0,0,33.0,2
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,8:30,...,2,2,0,1,2,1.0,0,2,26.0,1
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,17:60,...,4,3,0,0,2,1.0,0,0,21.0,2
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30,...,0,0,1,3,3,1.0,0,0,30.0,2

In [ ]:
test.head()

,ID\t,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Age
0,0x2318,COIMBRES13DEL01,30.0,4.9,11.003669,76.976494,11.043669,77.016494,30-03-2022,11:30,15:05,4,2,3,1,1,1.0,0,0,2
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,19:45,20:35,5,1,0,3,2,1.0,0,0,2
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,8:30,19:45,3,1,0,1,2,1.0,0,0,1
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:60,17:20,1,3,1,2,3,1.0,0,0,2
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,13:30,18:40,4,3,2,1,3,1.0,0,0,2

In [ ]:
import numpy as np
from math import radians, cos, sin, asin, sqrt

In [ ]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [ ]:
distances_km = []
for row in train.itertuples(index=False):
   distances_km.append(haversine(row.Restaurant_latitude,row.Restaurant_longitude, row.Delivery_location_latitude, row.Delivery_location_longitude))

In [ ]:
distances_km

[2.2889176429442766,
 14.777224879337778,
 1.1369661517622613,
 5.698648755247188,
 4.510870688286172,
 3.402355554612758,
 12.270796950704177,
 14.834471478540268,
 14.74215153593388,
 7.947909355993949,
 4.570359405666854,
 10.382461955769202,
 2.289660080808692,
 14.653418262683628,
 10.43205889546797,
 4.564400471176787,
 12.696968161012697,
 7.938326774681736,
 3.337200464424711,
 9.22911227091784,
 14.501942430996296,
 1.1398128976994113,
 14.659777692666824,
 4.636457817153074,
 12.403637848111313,
 3.4345415625124036,
 10.435138839387958,
 10.233497755572916,
 12.693406239781474,
 3.419075289419169,
 5.797754195048091,
 5.771854217941541,
 4.618264869797013,
 17.29786575291325,
 14.995683105740776,
 8.079495962621806,
 4.617534762216765,
 1.159558704016293,
 2.268442578384351,
 2.2744494688005146,
 7.959876989279569,
 7.893990175172835,
 9.270148568590898,
 10.435081161445238,
 12.75022985503539,
 2.224791952204159,
 6.954372105669991,
 6.821977711893485,
 4.511043437678344,
 1.1595441305410759,
 4.462327305969477,
 12.504450696430586,
 4.717601092054723,
 9.117371174946618,
 6.956563197463137,
 10.25702116899395,
 10.219467716402209,
 12.580267822400963,
 1.1448912216800262,
 9.435201537430714,
 9.15958668751808,
 3.4232250006418705,
 8.115006881768743,
 12.749014102141022,
 4.617155357504938,
 2.246135952472518,
 5.676674791938433,
 3.145067434621583,
 6.29013467763468,
 10.148740293683446,
 4.638422908994678,
 4.637890140966631,
 12.580267822400963,
 3.145067434621583,
 4.548645314252413,
 6.804552724737609,
 7.8626681674103684,
 10.149128047953159,
 10.233551388554535,
 4.630167744677415,
 12.507155318505163,
 17.29786575291325,
 12.404690164254388,
 12.749014102141022,
 2.2897156700849965,
 6.806143206248014,
 5.770377974799569,
 4.618409033620499,
 9.173672563785399,
 1.1371738201624577,
 12.474541118164186,
 1.1156117116667301,
 1203.5344736371442,
 2.288909366779851,
 10.302350882087332,
 12.753321354980905,
 5.706494630316801,
 10.43225386338681,
 5.698195639457186,
 4.56478416872802,
 12.693924881516596,
 3.4013263135474574,
 15.06720003344031,
 1.1397332802858673,
 2.288991641536817,
 10.2326102385932,
 12.750359763748488,
 14.83341269052578,
 2.31903567311062,
 14.814034791537905,
 12.752252162887276,
 2.255085359036055,
 9.274509230305416,
 12.749716518503634,
 5.684074548635269,
 6.69353139759389,
 1.14112015384191,
 8.924587708507774,
 10.040205596624698,
 3.4344622932208035,
 12.730659936043478,
 12.587138495423037,
 4.559531440215222,
 4.511043437678344,
 5.6374311571202185,
 14.814034791537905,
 12.271043805851548,
 3.3370702605163536,
 9.094621018069528,
 4.635492901058833,
 1.1596849860355392,
 6.94493484280671,
 2.3077628616832184,
 2.288911985881067,
 10.233551388554535,
 5.685471840538455,
 6.29013467763468,
 1.1341590660907461,
 10.233484990071332,
 6.838253770271003,
 3.4614408353664063,
 8.102250775036216,
 12.40477981738383,
 6.803448851559086,
 9.275141110814952,
 4.637900627523395,
 3.4197110762992144,
 6.29013467763468,
 8.114340190020624,
 6.29013467763468,
 6.822102618128709,
 12.534782170679723,
 3.145067434621583,
 1.572533729286321,
 4.564326072777998,
 9.116050725781411,
 14.834669098935104,
 6.674311531397595,
 12.535211130631513,
 10.416987023956608,
 8.924584069072335,
 8.080159415585815,
 5.797231171424264,
 5.721825687758923,
 11.007734763744617,
 10.207029470169033,
 10.148782166286587,
 7.996782696711689,
 9.259386456202625,
 1.127855349920082,
 3.4232250006418705,
 1.159338178972951,
 9.435201537430714,
 9.15850706533809,
 7.860619013214165,
 10.040084963186978,
 5.668691244769382,
 6.924709553443466,
 4.564974258978199,
 8.01322038319903,
 6.846067967020923,
 6.955264575496186,
 7.988353193513937,
 7.809078003780994,
 9.154894397443748,
 3.3829596194444678,
 2.289409692366928,
 3.4787401417096846,
 10.26852880866742,
 8.116545404019252,
 4.537579567987395,
 10.146867506056582,
 6.847084463218924,
 1.1449434641023741,
 9.022280179613796,
 4.5648129690302195,
 10.382517926354643,
 6.674093632427279,
 6.820706482553045,
 9.274880285699856,
 12.587075635093042,
 6.922690395391868,
 2.231266989454654,
 3.434250401552963,
 2.282247962733261,
 9.15958668751808,
 2.279503276465529,
 9.259750892853832,
 7.959675740072633,
 4.56422594197683,
 1.1413689044269115,
 6.766678330879729,
 4.53663413182725,
 7.958892267958848,
 4.510724295129877,
 14.779416123099528,
 9.435201537430714,
 9.157816824223346,
 3.3691634291848476,
 16.024609515587045,
 1.1426418026979839,
 4.548645314252413,
 4.61838270135858,
 20.44292976252901,
 10.20658283901946,
 14.877964031420287,
 16.024295954209514,
 16.02738757084859,
 12.730622869857823,
 4.717601092054723,
 5.685825335993144,
 11.007734763744617,
 10.431586339702667,
 9.072223587309205,
 2.255094732261168,
 12.615358407782656,
 1.1544588788912,
 9.097204565557018,
 7.892230279049538,
 9.09664920453867,
 14.876265015937742,
 9.118120461367967,
 4.534260569510044,
 6.812655655528478,
 5.699162871754865,
 12.580267822400963,
 4.492208723414056,
 1.1593630494616634,
 10.321926867357103,
 8.11426473380911,
 12.693850555100061,
 2.2559821949546723,
 3.402724730280368,
 6.95700652665923,
 7.977261012297719,
 6.9451234464828895,
 4.559393399417428,
 10.298724948223686,
 10.298687785315371,
 10.43215345208441,
 5.63839322728791,
 3.4112282850145843,
 14.758355914695647,
 2.25504797458383,
 4.630289121773489,
 6.944848904163827,
 7.948838026257626,
 12.566793433402383,
 12.58991726014005,
 14.814376416025972,
 12.40477981738383,
 5.699162871754865,
 15.071159637050389,
 2.2888734791529255,
 14.907153795425504,
 12.403637848111313,
 1.1372203194700599,
 11.007734763744617,
 9.435201537430714,
 7.947828416034716,
 7.958892267958848,
 9.020869896972302,
 6.868766339049721,
 1208.0919613786757,
 20.44292976252901,
 12.730801353710126,
 5.797362315389274,
 10.301114768634038,
 16.024407670526244,
 16612.244687956965,
 4.559018247285147,
 9.082835086164199,
 10.435268910436518,
 3.4346256109408855,
 10.302002214341474,
 2.268303671933386,
 14.834669098935104,
 9.094044920571006,
 2.2553382754032576,
 14.833297033149927,
 3.418830039408119,
 2.274391865031026,
 7.891961016664069,
 8.114523927045948,
 3.419478378543264,
 12.271016136804123,
 7.938695746413998,
 9.2734339966892,
 3.42323312818569,
 4.717601092054723,
 1.1576041955797272,
 2.2824915709437708,
 6.8050242620004715,
 9.229512256719158,
 4.717601092054723,
 6.846632184564573,
 7.987618489329884,
 2.2897392035475512,
 1.1593752584251416,
 5.797826015213514,
 14.875253230623112,
 8.102052729861517,
 9.095819286524732,
 3.145067434621583,
 3.4781884538544605,
 10.20678052549202,
 14.741294307205802,
 14.877964031420287,
 2.294075213772281,
 2.2553382754032576,
 6.955458833615506,
 4.717601092054723,
 1.144892014792181,
 2.2743889335983405,
 5.770677028787466,
 12.40477981738383,
 12.752381534406009,
 4.614958706444351,
 10.298720827796732,
 4.637137154406039,
 6.866350075723453,
 2.3186238658024574,
 5.797637046789756,
 1.1448912216800262,
 1.14112015384191,
 6.8023179193928955,
 14.501786345481799,
 4.510724295129877,
 14.780770678865698,
 4.462471016048889,
 12.69383848782637,
 10.298945489091807,
 2.288911985881067,
 4.717601092054723,
 7.960214955415613,
 5.70563310156562,
 8.115379632648452,
 9.096654373493266,
 4.637991507181712,
 1.572533729286321,
 5.670947417608229,
 5.561941267711612,
 7.8090385008204475,
 1.1542354333117777,
 3.4120582866653053,
 6.693612076215389,
 12.69383848782637,
 2.231266989454654,
 12.689798667592045,
 12.402783078968062,
 6.86886510325094,
 10.011450896889967,
 9.129758062084324,
 12.534660168204462,
 6.838059261395641,
 5.797795729760237,
 3.411759590941817,
 10.148961142907094,
 9.435201537430714,
 10.205723055438723,
 7.947075707200748,
 4.636995667737248,
 6.693542583493452,
 6.29013467763468,
 17.29786575291325,
 6.924709553443466,
 6.867692291875006,
 4.577755136952908,
 3.411229902135298,
 12.730801353710126,
 11.007734763744617,
 12.75022985503539,
 12.613587791104596,
 12.404254549406033,
 10.303374783652389,
 14.851099990639343,
 14.813903850529808,
 10.148956245455597,
 12.749950496920587,
 3.433171025067525,
 20.44292976252901,
 3.478372961041071,
 1.1373926440183502,
 1.1280071819149144,
 4.51126497107912,
 20.44292976252901,
 4.630106728293393,
 2.318836155375732,
 6.29013467763468,
 10.383235849063025,
 8.924597705658456,
 5.69866886094083,
 15.071530045233756,
 7.957427666438358,
 12.730970850578487,
 7.894399426373769,
 12.752092227148738,
 4.616745237274828,
 2.2901670951818067,
 7.78642401176406,
 15.070312075909579,
 1.1444769699509523,
 1.1448355774346557,
 6.693534217222932,
 9.118120461367967,
 17744.238040626315,
 3.4237298483366376,
 8.11160366376612,
 9.22911227091784,
 12.507999205920258,
 10.233551388554535,
 4.565047415628551,
 9.084233799219765,
 1.1413210559641316,
 1.1277595713708155,
 9.117776692431145,
 12.474268067430026,
 3.4193260511544477,
 10.149128047953159,
 5.63847851132346,
 4.638308657078226,
 2.318696349077803,
 11.007734763744617,
 6.693612076215389,
 14.757766560496863,
 3.433222708958116,
 12.472470989075147,
 12.580267822400963,
 10.382461955769202,
 2.27454620503228,
 3.3468768733323637,
 14.781663123375635,
 7.997376435294068,
 3.3832747563877668,
 14.744928317732786,
 7.959675740072633,
 2.2795395211626204,
 12.580267822400963,
 8.07624828586569,
 2.279402794136048,
 5.787469887861798,
 5.684020868830638,
 6.837679276229511,
 5.734026082360494,
 7.996527245875439,
 4.565008113895426,
 2.26833417063826,
 16.024396610816858,
 1.572533729286321,
 7.977817199128576,
 3.145067434621583,
 5.638628708868407,
 12.693406239781474,
 12.552714029604756,
 1.1595540510263482,
 12.730801353710126,
 5.733836848255526,
 9.15765892030908,
 12.731304076605822,
 10.040086363819336,
 2.2248065206316925,
 6.674311531397595,
 4.630163325602864,
 5.7235289481409435,
 7.938407105850095,
 10.106893343910166,
 12.69000147094311,
 12.592519589825004,
 6.767560520452578,
 6.955195170740529,
 10.21790663071904,
 10.320622678550825,
 10.302544035580487,
 14.657876628875574,
 5.706418422590709,
 11.007734763744617,
 2.288991641536817,
 3.4334496477279397,
 3.369146088932192,
 6.823142330025257,
 10.25731147872495,
 9.174071025423615,
 10.416704322314308,
 3.403241208493942,
 5.797326407335789,
 2.2744494688005146,
 2.2312402962400824,
 14.741145471977008,
 8.115467392465513,
 12.580267822400963,
 7.977817199128576,
 7.960214955415613,
 3.4788353956967537,
 9.15765892030908,
 12.476153891521282,
 11.007734763744617,
 9.275148250866197,
 2.2889167253283285,
 1.141259848226938,
 1.1596847123308884,
 3.4192469461136383,
 2.31905550947215,
 3.478896992854359,
 5.63897921882945,
 12.591258253434304,
 4.638424003054813,
 14.780160424619755,
 10.256527819782454,
 4.5586840118654655,
 2.271039303079969,
 9.154379863020964,
 6.955913218178013,
 14.833183208887386,
 10.385964338555894,
 17118.83553379959,
 14.15280068944862,
 6.944771674425313,
 12.59163707177385,
 9.094044920571006,
 9.07096865499183,
 5.671144032525767,
 10.01139465363567,
 5.768962873860333,
 14.781663123375635,
 14.758355914695647,
 2.2891531359007478,
 9.118396168997048,
 3.434776776805226,
 3.145067434621583,
 6.804708874980705,
 5.722144579462394,
 3.145067434621583,
 6.926337055934763,
 12.580267822400963,
 5.733836848255526,
 3.4632262647588647,
 7.977853276667411,
 12.591091016672092,
 15.066482040670124,
 4.548456930328601,
 3.4778685577540016,
 10.040205596624698,
 4.548613162153941,
 12.507999205920258,
 15.89280706443212,
 5.724546149104051,
 3.423831432495742,
 5.689277129930958,
 12.504450696430586,
 5.724546149104051,
 12.552132777186872,
 4.577742864075824,
 14.501936367137924,
 7.978536473873574,
 12.507170909474967,
 12.751720162347514,
 14.831815999691216,
 1.1373926440183502,
 9.12936548599703,
 9.12896397584746,
 14.501887527996104,
 9.156565139186341,
 10.204669136953997,
 630.055528052913,
 9.021977303357213,
 1.1596326780681163,
 14.779164245241002,
 2.288820621385998,
 6.838253770271003,
 1.154633498000605,
 12.507236413398529,
 4.635516062038852,
 9.435201537430714,
 9.259499542089449,
 7.938513642492121,
 2.2741912069706127,
 12.271189225157075,
 14.780762294524758,
 1.144505673976159,
 9.116050725781411,
 8.013302625280957,
 3.4726183799927286,
 12.550261480641458,
 9.435201537430714,
 8.078179215225004,
 1.1444943933417249,
 5.685087580279244,
 7.8090385008204475,
 6.8270443695817375,
 6.955913218178013,
 1.572533729286321,
 3.369002417593498,
 12.509125153410107,
 3.419041925228462,
 16.02305346476659,
 10.302308404746475,
 1.1371163165334437,
 12.580267822400963,
 3.3831316946137284,
 5.794264266051821,
 2.2554259579116307,
 9.116703612807996,
 3.4237069724404523,
 3.401892449455524,
 3.4351822489882595,
 8.079495962621806,
 12.752172307826898,
 8.102144073284938,
 8.07624828586569,
 14.779409140965251,
 9.15453275515854,
 17.29786575291325,
 8.92377810321843,
 15.069970326721622,
 3.440422306884329,
 8.898885313806405,
 8.01366211505885,
 7.987124705346372,
 12.552240608725821,
 7.808983668383987,
 8.013403763177989,
 6.867899061553954,
 14.879734673741277,
 1.572533729286321,
 1.1542354333117777,
 10.25731147872495,
 3.433171025067525,
 8.899048033817555,
 1.1444478550382062,
 3.4136870991302346,
 3.4726989540996023,
 5.723971767859084,
 16.025125119648674,
 10.299055427297978,
 12.535654988799804,
 6.955540787330078,
 6.956671568053779,
 14.995683105740776,
 4.565008113895426,
 12.487840303478018,
 1.1596705068405941,
 12.752201098905463,
 10.148335067032956,
 1.572533729286321,
 3.472657564809185,
 9.116050725781411,
 1.159656129474486,
 4.717601092054723,
 12.352533826382027,
 1.1399158604891795,
 5.722353958408706,
 7.978742502280442,
 1.572533729286321,
 2.3084208575846286,
 6.693396967407963,
 1.144508335054058,
 4.630289121773489,
 9.275090838054181,
 3.4340141118197045,
 2.2312077456029993,
 2.289795252840406,
 14.9963866847223,
 6.827054881859725,
 4.6153263393532855,
 9.273524884950085,
 5.724084061311442,
 7.893432479581292,
 6.766465946963006,
 10.233769475375313,
 3.145067434621583,
 2.3186028188581016,
 12.515880968717815,
 6.764806559620357,
 3.4344622932208035,
 5.577985177110647,
 1.1123990885825827,
 1.1543639555585152,
 14.880286171853685,
 4.618232708978525,
 8.11632335103656,
 1.1155265039187963,
 2.2312409265312545,
 1.112405038700879,
 10.256128886167982,
 8.012338400459745,
 10.20632299496184,
 5.685681482547094,
 1.1593862665248678,
 6.804461371810103,
 14.15280068944862,
 14.833912349093094,
 6.674312916709018,
 14.744928317732786,
 8.010603183447024,
 4.511105294069549,
 7.957352569518605,
 9.116328308859272,
 6.765894996762691,
 12.580267822400963,
 6.6935287373779815,
 6.954372105669991,
 7.8626681674103684,
 7.939165241136183,
 2.267204355033922,
 12.534782170679723,
 8.08137989510528,
 8.924587708507774,
 6.838388496562568,
 4.548618845986243,
 9.117518551621426,
 6.837679276229511,
 9.155517990107482,
 9.021698583801037,
 2.2938669287598077,
 4.564591501644254,
 17.29786575291325,
 12.59126891570917,
 14.777472478870319,
 17.29786575291325,
 4.559019658742047,
 5.73483984292608,
 2.2682004843020214,
 3.346836405869953,
 2.3151872417154378,
 6.804726157937242,
 3.4727000229815457,
 6.956563197463137,
 2.2556865204023286,
 9.021107904475182,
 9.276003112974356,
 3.402681081894809,
 5.6387774945755575,
 10.270344516247086,
 5.685667059687856,
 6.868110673876424,
 1.1575973257098546,
 2.3092328738831793,
 2.2710687713037454,
 9.154817887640748,
 4.564608513880928,
 4.579422816527902,
 14.76129673910465,
 19070.38229897719,
 4.717601092054723,
 5.698761065294705,
 3.145067434621583,
 4.717601092054723,
 3.3831829141840064,
 5.669634060403446,
 4.717601092054723,
 12.580267822400963,
 4.63772545622396,
 3.3831829141840064,
 6.821977711893485,
 4.462352778500453,
 4.548227165367417,
 15.044820308254819,
 3.4345849600329053,
 4.462419000123829,
 4.717601092054723,
 1.1469564907324135,
 2.246179458240609,
 11.007734763744617,
 15.067923825893436,
 2.318942779672509,
 5.769033297427126,
 12.751337427464776,
 5.768930253540407,
 3.41932711010402,
 5.70563310156562,
 3.145067434621583,
 12.586545528225377,
 3.423831432495742,
 7.977279856164907,
 10.208705922552705,
 3.4346211087372374,
 3.4626339707480924,
 3.419381411328179,
 1.1449229751146006,
 6.922456012437006,
 7.948839751353859,
 10.303374783652389,
 7.977845327977632,
 5.638282945451101,
 1.1426418026979839,
 8.013140094804683,
 1.1413210559641316,
 8.102240555565801,
 12.580267822400963,
 1.1156299663317475,
 5.56175725899239,
 7.8626681674103684,
 12.586591331204858,
 1.1399158604891795,
 3.433375722470933,
 4.536722164642798,
 1.1379581764600868,
 3.4626339707480924,
 6.6935086878763626,
 7.8090618670999525,
 5.699137642093732,
 15.002824269748793,
 4.536251255798738,
 1.1542354333117777,
 15.045006195341756,
 3.462579878047452,
 14.658460828687392,
 5.796165920850824,
 1.13689395578017,
 10.206055180119026,
 6.922629641390167,
 2.273726896020242,
 3.4341278199950978,
 12.580267822400963,
 3.383595587142586,
 6.693396967407963,
 3.434643392180104,
 2.2889176429442766,
 2.268386302259133,
 7.95793193560001,
 14.780684936944787,
 7.977945463146907,
 6.8541893787904,
 2.2461642861884346,
 5.705176302382064,
 4.548920808279511,
 14.880442340566026,
 12.752171096192992,
 9.235661818227326,
 4.510724295129877,
 2.2312437271096504,
 1.1445181199144718,
 2.2683920722644437,
 10.302716074603518,
 12.749874130873208,
 20.44292976252901,
 3.3372014173193736,
 4.717601092054723,
 7.809048376443785,
 4.551508445605833,
 5.63897921882945,
 6.944941468234454,
 6.955241586539553,
 1.1596849860355392,
 9.274330956456506,
 7.893126327897113,
 11.007734763744617,
 2.2744021772976653,
 1.1411174428778115,
 8.113823440142633,
 8.115467392465513,
 2.2741676102717836,
 8.102144073284938,
 7.8626681674103684,
 10.231098842114967,
 4.462424589460922,
 16.024777646019555,
 2.231208537219026,
 9.11672514132494,
 12.752201098905463,
 1.1595513171545493,
 5.723535339658623,
 10.258008153357924,
 2.255616640086931,
 10.301561435668635,
 3.478518322555905,
 10.204671681365138,
 3.434706236038399,
 2.2687303872477242,
 2.2707851895058457,
 3.4236806187662494,
 14.597241723600284,
 12.503541592133018,
 14.813328398477159,
 8.115704381739272,
 5.734945961113689,
 10.218393897082706,
 14.834669098935104,
 12.487840303478018,
 1.1538992917060176,
 14.597241723600284,
 6.867692291875006,
 6.868679623064644,
 9.02142667670003,
 9.154772128925098,
 7.9385786588578275,
 2.2825722688508034,
 14.15280068944862,
 8.078597677558312,
 1.1543639555585152,
 6.926907736465431,
 6.82272938745206,
 15.719917857609458,
 3.4240246447790805,
 10.298917917403603,
 6.84731560637738,
 5.685180381621712,
 2.315123835495033,
 1.115641364862073,
 4.565047415628551,
 5.705909844831512,
 12.586985605855217,
 10.428733679640946,
 2.3151563573811607,
 12.4051060207519,
 8.115467392465513,
 7.97718326841513,
 6.957147071925404,
 2.2549095963873045,
 14.9963866847223,
 10.389893497269131,
 12.730622869857823,
 10.283194733921274,
 8.010431546381737,
 14.15280068944862,
 7.8626681674103684,
 5.797231171424264,
 4.617155357504938,
 1.1340014841288846,
 3.3467881013613585,
 14.779409140965251,
 5.6388016215889065,
 14.814615495916511,
 5.797267519914812,
 14.877651029220505,
 12.615228600551827,
 9.275090838054181,
 10.383362481635105,
 2.318898148915539,
 10.43413448227252,
 10.416704322314308,
 12.580267822400963,
 12.507999205920258,
 8.924587708507774,
 17.29786575291325,
 3.3832731191976633,
 7.809048376443785,
 15.0450015746466,
 12.615180869550873,
 10.256004786519764,
 4.616484198306438,
 2.2889167253283285,
 12.475276684296292,
 14.814386446017938,
 5.772101778567717,
 2.289361376191621,
 8.010603183447024,
 6.956676925582911,
 3.3371984073141627,
 6.8023179193928955,
 8.01052436393994,
 14.874147943658492,
 9.128502786368474,
 10.234203689092613,
 2.2897251296034375,
 2.288820621385998,
 4.615154795921967,
 7.940368479778218,
 10.011067633666011,
 2.28979225046194,
 7.957798320609464,
 14.501905751602104,
 8.924454692025032,

In [ ]:
distances_km1 = []
for row in test.itertuples(index=False):
   distances_km1.append(haversine(row.Restaurant_latitude,row.Restaurant_longitude, row.Delivery_location_latitude, row.Delivery_location_longitude))

In [ ]:
distances_km1

[4.559002157269455,
 12.503659429268597,
 10.302876000359147,
 10.300934436652051,
 12.40477981738383,
 1.154677612551188,
 2.273892730894037,
 5.561936463257537,
 10.269971871124254,
 3.403241208493942,
 4.569632900473312,
 17.29786575291325,
 9.435201537430714,
 12.507155318505163,
 6.693461638716953,
 3.4013263135474574,
 3.418830039408119,
 14.741866436615627,
 3.383469974977779,
 14.848771723116753,
 10.303374783652389,
 5.771485260658612,
 6.82272938745206,
 3.4025318549308445,
 2.27939246677,
 6.8050242620004715,
 5.722353958408706,
 3.402472944284412,
 1.1412158912331491,
 2.279620934404111,
 14.816039202881408,
 1.1595540510263482,
 2.319316771465532,
 3.3832731191976633,
 8.924579283307336,
 14.502102649909947,
 5.723895612206888,
 14.814034791537905,
 1.1397169858878133,
 4.5363991567183755,
 2.318967883094775,
 3.4020315490567303,
 6.86692356147133,
 1.572533729286321,
 10.148411699929742,
 7.987124705346372,
 1.1447966116105066,
 14.813293474249784,
 6.766678330879729,
 3.419026439445221,
 12.40474511711631,
 5.7225479451734325,
 5.70563310156562,
 3.4612688886007574,
 16.0248812881134,
 6.765976108917774,
 8.102052729861517,
 17653.188636248728,
 2.2737483914239736,
 15.045006195341756,
 10.232430913898321,
 14.831215358382279,
 9.15441783833645,
 3.4240246447790805,
 4.617288409868085,
 10.30154219072585,
 17.29786575291325,
 1.1156283196604113,
 4.577755136952908,
 7.966447087135214,
 14.877964031420287,
 1.1593881039371245,
 4.559092035811348,
 14.874770513631244,
 3.145067434621583,
 14.757355878789765,
 12.696290151501277,
 1.1230963419394389,
 8.011234554147284,
 14.15280068944862,
 10.298720827796732,
 2.2738544856572394,
 4.637053075120477,
 2.2312402962400824,
 7.98693071034028,
 10.43508437619533,
 2.2825892074162373,
 3.4623767443171984,
 6.821977711893485,
 5.638431914941185,
 10.435009683156888,
 15.067770369194239,
 12.587138495423037,
 8.013518953065912,
 4.616484198306438,
 1.139780424471848,
 14.15280068944862,
 1.1411452112750986,
 9.12933491610543,
 7.8626681674103684,
 5.677309355982194,
 19692.571861309192,
 14.15280068944862,
 2.271039303079969,
 2.289361376191621,
 5.7217289407548355,
 2.2899531473839425,
 14.99662623833332,
 8.102029119574505,
 6.954372105669991,
 15.005709571983937,
 8.010690145122348,
 14.501963566904045,
 6.838285489875366,
 12.592519589825004,
 2.3191009704201573,
 2.2824915709437708,
 4.717601092054723,
 10.040080985552152,
 12.404254549406033,
 12.506096517487558,
 2.2796938617807476,
 3.461548357343019,
 14.996802107906761,
 15.044609474385663,
 6.868514748052123,
 6.868631627855312,
 8.924690166394216,
 9.09565286572616,
 6.94493484280671,
 7.9589808018283374,
 6.823142330025257,
 4.565047415628551,
 9.229798615008304,
 6.29013467763468,
 14.741145471977008,
 6.866438468888839,
 4.565280950901457,
 1603.0731318244043,
 12.730659936043478,
 3.477633565573105,
 1.1396514746500797,
 12.690073125345778,
 10.320362847566603,
 2.3151567188764783,
 7.8626681674103684,
 12.59084302584077,
 10.255370427440866,
 6.29013467763468,
 2.268303671933386,
 17.29786575291325,
 4.638340462121903,
 6.823142330025257,
 2.2710238256621076,
 2.268303671933386,
 2.3192127270653127,
 2.2897681440124344,
 2.315130589395408,
 3.4020315490567303,
 15.000647995786325,
 5.68605147846322,
 5.7241813891086055,
 2.2559821949546723,
 6.94493484280671,
 8.924586574275496,
 14.880810105831541,
 8.114600876023596,
 4.462424589460922,
 2.2312409265312545,
 12.615430171658927,
 3.4780012506619618,
 6.955913218178013,
 12.580267822400963,
 6.29013467763468,
 10.43260193900576,
 4.637037741995712,
 1.1541755616093632,
 12.591653539759621,
 3.145067434621583,
 8.01479797780283,
 1.1542354333117777,
 4.717601092054723,
 7.8626681674103684,
 7.960214955415613,
 2.2890754700128544,
 4.510966897590389,
 1.1538962128616563,
 6.847256692450325,
 10.255958423991803,
 10.320418358273018,
 10.26989296583371,
 12.403598679572811,
 3.461507667884937,
 10.233769475375313,
 10.38832510442798,
 2.2897681440124344,
 3.4233640681864648,
 10.434296924714781,
 2.231239982670236,
 7.8626681674103684,
 4.630040993093951,
 12.749954701223649,
 2.2795395211626204,
 6.922456012437006,
 4.564888017802622,
 15.005304090526643,
 14.59818206453578,
 4.577745108421711,
 4.6376752727243735,
 8.102463032001053,
 9.02315662071191,
 5.797898344066652,
 12.551623237462337,
 10.298969380166149,
 10.385780427774819,
 5.705873856275266,
 14.74215153593388,
 7.8626681674103684,
 6.868883096932296,
 3.3832149254288457,
 5.5779037493412185,
 12.535665283867909,
 9.154973444446647,
 8.114021503864109,
 8.114191155400155,
 9.273524884950085,
 6.955178504603017,
 2.2247188086676997,
 6.693437459955655,
 14.780684936944787,
 4.5776404262252175,
 6.867974286844819,
 6.9263716352031945,
 3.3825748564587874,
 10.106894383887418,
 7.8626681674103684,
 1.1155265039187963,
 3.4727943927478004,
 3.145067434621583,
 2.268352783143422,
 12.749950496920587,
 7.939165241136183,
 9.128502786368474,
 1.572533729286321,
 10.302350882087332,
 15.06236539909612,
 2.294093113229633,
 3.4024450364465824,
 1.157619460659268,
 2.2825722688508034,
 5.797244276571221,
 7.997580508461174,
 3.423831432495742,
 1.572533729286321,
 12.551036404142641,
 1.1412158912331491,
 3.4115416854153344,
 15.070159253561501,
 14.743020159961068,
 12.50803309247057,
 5.72507893976478,
 8.07619908604313,
 5.636898116386865,
 14.657987107455746,
 7.894607408504473,
 9.154706592797018,
 15.06236539909612,
 2.28979225046194,
 9.11657356773404,
 12.693850555100061,
 16.024839404942274,
 2.2889720777997735,
 14.50063569509369,
 5.768532491897015,
 4.63788969965533,
 5.577991445237504,
 5.639016940617149,
 4.542371751687047,
 8.078322329921088,
 2.294093113229633,
 14.878868590764393,
 15.719917857609458,
 7.978200276358773,
 3.4193139795468386,
 12.753063988024367,
 14.83249013577662,
 12.750359763748488,
 14.833297033149927,
 2.2248054535777393,
 6.866297529015452,
 9.117776692431145,
 14.15280068944862,
 14.658429390450841,
 9.2746095038762,
 6.950929320405838,
 12.587081793815871,
 8.01366211505885,
 12.534266655590994,
 4.5419245289001315,
 12.749450172443295,
 3.461507667884937,
 4.548920808279511,
 5.769033297427126,
 3.346789287531491,
 4.616753174169964,
 5.5779844659565105,
 6.693542583493452,
 12.271042097610282,
 2.309216785347883,
 8.01052436393994,
 14.502109874830648,
 7.938407105850095,
 15.002824269748793,
 14.501647266679985,
 16.027392020148827,
 12.748239848985857,
 5.705176302382064,
 1.1411174428778115,
 16.025125119648674,
 1.159342014938877,
 2.318497634644474,
 8.013253441246059,
 1.1156283196604113,
 14.833834590118062,
 8.924584069072335,
 8.114291547995323,
 12.53585627248206,
 4.637860973231832,
 1.1412116339802132,
 1.1596358716375257,
 3.4192469461136383,
 10.25682771450147,
 7.8940645228719335,
 7.988343857768633,
 12.693406239781474,
 3.4280125199939055,
 8.115888657932546,
 8.080159415585815,
 12.550989728202325,
 10.386318176521696,
 9.435201537430714,
 4.717601092054723,
 8.899021598817779,
 5.721945623149535,
 9.022280179613796,
 12.698206104019922,
 9.102532651172357,
 14.99662623833332,
 3.145067434621583,
 4.541661783997814,
 9.022280179613796,
 4.577765771493948,
 7.977823759458404,
 3.145067434621583,
 2.2684915957749494,
 5.768962873860333,
 15.004855395704597,
 15.044653258776657,
 8.924587708507774,
 14.880538608987003,
 1.1280071819149144,
 6.29013467763468,
 3.419478378543264,
 4.462352778500453,
 3.369228649692782,
 4.547338690743594,
 7.8090649673966,
 3.478572545649418,
 6.837679276229511,
 8.075997658124985,
 2.2556786755385727,
 1.1593630494616634,
 9.06945967392371,
 5.721825687758923,
 10.434240381020851,
 8.924490008263577,
 2.288966757272883,
 7.809048376443785,
 1.1398128976994113,
 14.879946230681512,
 15.070159253561501,
 9.154817887640748,
 12.731304076605822,
 6.956272677204822,
 9.435201537430714,
 4.558618900711697,
 14.851894112730237,
 8.028456126424093,
 10.299756754097926,
 3.4727000229815457,
 9.275889653489388,
 6.82272938745206,
 3.3468292652773033,
 1.1277424817997912,
 1.1589574919735353,
 8.114523927045948,
 4.579726716136998,
 9.157880778921543,
 10.257698087482876,
 6.69353139759389,
 10.148018455518585,
 6.822698495341271,
 14.780666524616889,
 2.3090453322512654,
 9.2325458279772,
 10.298687785315371,
 1.1449229751146006,
 10.43259024337508,
 6.801168623211277,
 12.474576497427554,
 14.46084370461183,
 9.06945967392371,
 14.87506212305119,
 12.749950496920587,
 3.478504370063583,
 1.1444325836635596,
 9.096613213818184,
 3.413751934695983,
 15.067300436566175,
 10.218419698914333,
 4.6382276820974075,
 5.72318874950132,
 4.571482727194532,
 5.698922567728429,
 3.402724730280368,
 1.572533729286321,
 3.4779657548028178,
 2.2825968649506514,
 3.4778254921718355,
 6.29013467763468,
 4.5776404262252175,
 4.615154795921967,
 3.4237945504426293,
 3.4020315490567303,
 3.4345062730322855,
 9.022280179613796,
 14.15280068944862,
 14.741866436615627,
 4.717601092054723,
 2.255487210053936,
 5.787503301163906,
 1.572533729286321,
 1.1447980525997934,
 6.957320010597164,
 5.770677028787466,
 8.114291547995323,
 3.145067434621583,
 12.271037246399661,
 2.255547375554606,
 9.155540791531964,
 12.580267822400963,
 12.750997177354648,
 8.013498500125072,
 11.007734763744617,
 3.434150925405464,
 1.1449064894145293,
 10.382517926354643,
 10.42568961110186,
 6.821986070735842,
 14.759191500150958,
 8.012982090061733,
 6.92727260758143,
 2.246135952472518,
 8.01052436393994,
 5.684020868830638,
 7.988257912539465,
 1.112362195201378,
 5.670684492258815,
 16.02589982553164,
 9.259385012299655,
 1.115628462492138,
 3.4410574402646996,
 10.256984084306312,
 12.473655280584165,
 14.658772158891578,
 1.1449259786140975,
 6.846964167313018,
 20.44292976252901,
 6.804392489512999,
 12.69383848782637,
 5.772665335705127,
 4.44956834850652,
 12.504241036066034,
 5.685471840538455,
 10.298844211875396,
 2.2743079172211718,
 1.1575973257098546,
 3.4726369650829816,
 14.15280068944862,
 5.787503301163906,
 8.113250576575986,
 12.580267822400963,
 10.388828291734185,
 2.2897681440124344,
 7.988116232213635,
 14.83341269052578,
 3.400750981104815,
 6.9226059087498575,
 8.08137989510528,
 4.462468771668334,
 15.067930767553602,
 3.402364824630351,
 10.304332644745887,
 4.717601092054723,
 8.010431546381737,
 9.2325458279772,
 4.717601092054723,
 8.11421059468861,
 8.924403963107965,
 9.435201537430714,
 6.868838570623171,
 6.8686091084125644,
 8.114291547995323,
 6.766651697468873,
 14.996762205821877,
 20.44292976252901,
 14.878411075745271,
 4.564326072777998,
 1.1444348902813624,
 12.580267822400963,
 1.1278243173681335,
 7.940368479778218,
 2.2738544856572394,
 1.1156280041815478,
 9.13900674789555,
 15.067350164533257,
 11.007734763744617,
 9.435201537430714,
 14.882866579545565,
 10.148956245455597,
 2.268442578384351,
 1.1596705068405941,
 3.145067434621583,
 12.471962561490676,
 3.4193167949374645,
 10.386328054782425,
 10.258008153357924,
 10.148956245455597,
 12.580267822400963,
 8.075596860125618,
 4.6166416600565565,
 7.978501176285283,
 6.837679276229511,
 7.8090797072697775,
 5.686564382477405,
 12.749954701223649,
 5.711932806874695,
 15.00421304331062,
 14.501729262057012,
 15.067163982524253,
 1.123095623776661,
 6.823757592957249,
 7.95897703401116,
 3.4781884538544605,
 9.117339038618196,
 3.145067434621583,
 20.44292976252901,
 12.751582382581603,
 7.99804841818709,
 6.86692356147133,
 2.255547375554606,
 12.59171499044088,
 2.318497634644474,
 20.44292976252901,
 2.3088920919479263,
 2.289647482769965,
 14.736662972348288,
 4.536891198502471,
 6.29013467763468,
 1.1372203194700599,
 10.41670112029119,
 5.699162871754865,
 9.435201537430714,
 10.23250432267415,
 10.298483927093077,
 10.149223546130923,
 1.1379581764600868,
 9.021210878631324,
 9.14049705053244,
 4.638340462121903,
 17.29786575291325,
 1.1156117116667301,
 3.440731310103715,
 4.577562298393735,
 4.717601092054723,
 4.449594331259809,
 15.06907870690141,
 7.938046656333896,
 9.273324632758133,
 4.536457469440235,
 10.302665766163104,
 14.659157517765166,
 3.4345849600329053,
 4.509969056621169,
 3.34683507153374,
 4.5777100558140855,
 15.893344555994851,
 9.096601513505874,
 12.401201369714439,
 550.9402122485069,
 14.996337372432107,
 2.2825892074162373,
 2.268386302259133,
 12.40119335252512,
 2.2743860896285515,
 12.4051060207519,
 9.117379471117435,
 1.1380090083054433,
 2.282725715335682,
 10.268778066276438,
 5.685087580279244,
 9.175190233158979,
 19066.746341182425,
 5.63847851132346,
 1.1576498267750144,
 7.861101998038748,
 12.694037944315662,
 9.157996329938662,
 14.996893603394065,
 14.76044929373983,
 3.4779657548028178,
 1.1429361073220792,
 10.298526637244969,
 1.1354375341404666,
 8.014795748425573,
 6.812626514066572,
 2.2941167764229315,
 5.7225336811988985,
 7.8626681674103684,
 5.705921629566317,
 1.1444348902813624,
 7.959675740072633,
 3.433171025067525,
 6.955178504603017,
 2.2312409265312545,
 5.771318987411507,
 12.271016136804123,
 8.92459965043759,
 3.4025979053593063,
 6.924709553443466,
 14.659019840987222,
 2.231265864893633,
 6.86886510325094,
 3.3371806658933294,
 3.3465330216179123,
 5.771793123013635,
 12.587109313142195,
 4.536622600835584,
 6.867547519992352,
 6.692926566332412,
 4.579726716136998,
 5.72193908141045,
 1.1380452564266275,
 3.419083376362137,
 15.044653258776657,
 5.5780494171583666,
 5.7968511495481865,
 1.1412670553951925,
 6.8463458274083635,
 14.879946230681512,
 1.1447964773584107,
 6.837286877278315,
 2.289463291343608,
 12.534811742128184,
 5.768930253540407,
 15.071792798527822,
 10.298724948223686,
 4.579504697944491,
 14.501930646110113,
 1.1449704671209988,
 3.461287574200562,
 7.893856422598941,
 5.689284867446627,
 2.275977696144273,
 5.67695502072173,
 20.44292976252901,
 2.318898148915539,
 1.1596705068405941,
 11.007734763744617,
 2.3151850311175166,
 7.893720897483772,
 1.1449704671209988,
 3.478372961041071,
 16615.73751836114,
 2.3151335120230145,
 6.868514748052123,
 4.564326072777998,
 9.435201537430714,
 7.977261012297719,
 2.282599536684243,
 1.1447272091170637,
 5.685674161908208,
 3.419381411328179,
 1.1278194827217944,
 2.289896060646645,
 2.279629195057587,
 14.878840826434205,
 5.796415313021761,
 9.229054319363126,
 2.308342086641531,
 9.127772629755947,
 1.1542354333117777,
 10.43409268317976,
 9.435201537430714,
 9.154776612123232,
 3.463394249152258,
 6.827144731724977,
 10.201252858109527,
 12.505867938207626,
 15.067781120843096,
 6.803450549840134,
 12.403928162523286,
 487.6926205361695,
 6.866438468888839,
 1.1449259786140975,
 2.282725715335682,
 1.1280071819149144,
 3.4345204580005455,
 14.814034791537905,
 9.116703612807996,
 10.299782397845998,
 10.383362481635105,
 10.148956245455597,
 1.1369661517622613,
 7.809048376443785,
 9.096654373493266,
 1.1231002301356559,
 5.787732141380947,
 9.12933491610543,
 5.723971767859084,
 2.2553382754032576,
 8.075676284069171,
 1.1370968567429336,
 5.72318874950132,
 14.833395836598145,
 7.957798320609464,
 6.765894996762691,
 12.580267822400963,
 10.040103874236262,
 14.878411075745271,
 5.684435003497317,
 14.874739811024199,
 7.893720897483772,
 4.541661783997814,
 15.895786754587776,
 1.1596640862704677,
 20.44292976252901,
 6.869008670250755,
 6.92256677438999,
 4.510778421899106,
 10.231270507628865,
 12.591032462533704,
 15.06907870690141,
 14.50194426433343,
 1.1444943933417249,
 2.31905550947215,
 6.846632184564573,
 3.4030391295529747,
 3.4235073881655356,
 2.27939246677,
 6.954794920182694,
 7.861102186365537,
 4.536457469440235,
 14.816039202881408,
 14.996762205821877,
 9.093959126845109,
 4.637966347408352,
 9.118396168997048,
 7.8090385008204475,
 14.658521194928323,
 4.559019658742047,
 12.537107062142278,
 7.894098268325141,
 14.15280068944862,
 14.659736722623318,
 5.7225479451734325,
 10.202974748744024,
 15.720683286032141,
 9.154231588582352,
 5.670220492788407,
 12.516568912545727,
 4.5777100558140855,
 1.1230756887857027,
 3.461569525871399,
 5.723971767859084,
 7.893990175172835,
 14.875381485033405,
 7.894314873437207,
 14.501887527996104,
 6.944941468234454,
 4.536457469440235,
 8.115938905833517,
 4.462407605656973,
 549.4230416646282,
 14.833297033149927,
 12.403664475349942,
 5.5779798945785855,
 4.615269986077266,
 3.4784961722574765,
 12.753479139192159,
 6.95296013503061,
 12.51509737488001,
 9.270148568590898,
 1.1336206938212785,
 7.958892267958848,
 9.11672514132494,
 15.001494428546485,
 14.741491695337176,
 7.988353193513937,
 3.4727943927478004,
 2.3187210891912056,
 1.153906351491556,
 12.591346110855484,
 14.813328398477159,
 9.021422321319784,
 18095.015535212013,
 1.144925651362397,
 2.3151563573811607,
 4.510966897590389,
 2.268386302259133,
 14.780160424619755,
 2.2312077456029993,
 12.693406239781474,
 9.072869680691058,
 2.2550624452973933,
 6.822102618128709,
 6.76377912678224,
 6.950929320405838,
 9.435201537430714,
 6.944780433885578,
 4.577655134308644,
 2.288909366779851,
 2.309291819414479,
 8.924582822740353,
 5.723289056276257,
 14.833059324934473,
 1.1592750486750147,
 7.808983668383987,
 14.882870712291833,
 9.158092580167263,
 10.255682601840553,
 12.580267822400963,
 8.078597677558312,
 16.023767966060166,
 3.4778338310770898,
 4.579504697944491,
 12.696290151501277,
 4.511835706822392,
 5.561936463257537,
 12.507236413398529,
 6.29013467763468,
 9.229854992194628,
 10.298699546006407,
 9.229798615008304,
 4.579612611835553,
 8.102029119574505,
 5.6387774945755575,
 8.102463032001053,
 3.145067434621583,
 9.127772629755947,
 12.587075635093042,
 12.535654988799804,
 6.922089582740649,
 6.955178504603017,
 6.922629641390167,
 15.045020526285601,
 5.638325601326014,
 15.00680404372481,
 3.4726570226956053,
 3.3839250372200516,
 1.1445278213745425,
 1.1371738201624577,
 4.579726716136998,
 2.2682004843020214,
 3.423849435926497,
 5.6981698473740465,
 12.505867938207626,
 6.81349933279816,
 1.1426550094907895,
 9.12896397584746,
 12.74565427198092,
 1.1413841659485395,
 1.1538992917060176,
 10.383299073557122,
 4.579184790799839,
 2.2888252332087085,
 4.541556808695078,
 5.724166389819084,
 5.712830588312244,
 9.129267295141123,
 8.115773728340708,
 20.44292976252901,
 7.987618489329884,
 12.753412604018184,
 1.157619460659268,
 4.541556808695078,
 3.4787497179700386,
 6.29013467763468,
 6.812609293322369,
 9.094468370862385,
 1201.9155393023493,
 2.28896173993698,
 4.615298121867771,
 12.693406239781474,
 6.764806559620357,
 10.20655694504267,
 2.279849046140307,
 10.106893343910166,
 2.3151563573811607,
 9.02315662071191,
 3.477889423802027,
 10.208101100311271,
 3.478572545649418,
 3.4345062730322855,
 3.4192469461136383,
 12.749716518503634,
 2.279519300860377,
 3.477968241752546,
 2.268436123094369,
 8.113823440142633,
 4.717601092054723,
 3.4332971867773074,
 2.308457205596981,
 4.617781749218554,
 1.1444478550382062,
 3.4105633040435404,
 2.2938669287598077,
 1.139945352963799,
 7.987124705346372,
 8.078179215225004,
 7.786666240321495,
 8.113823440142633,
 9.154213175215354,
 2.2741512557331394,
 4.717601092054723,
 4.636457817153074,
 1.154633498000605,
 1.1343039520178877,
 14.739110218977505,
 5.5779702379399625,
 4.510809386890486,
 12.690227819107005,
 3.4727943927478004,
 1.1341590660907461,
 12.53540986721721,
 6.29013467763468,
 6.29013467763468,
 9.273151287437157,
 12.59133741313197,
 4.53663413182725,
 9.155540791531964,
 12.515785024744664,
 9.073181459342635,
 6.823142330025257,
 4.559075525710099,
 12.471962561490676,
 6.805111456529669,
 5.796127231988381,
 9.274959520512622,
 4.579073544107738,
 7.8626681674103684,
 12.236154148615679,
 6.8023179193928955,
 5.699162871754865,
 9.11657356773404,
 7.895374660700234,
 9.274083328579364,
 10.040084963186978,
 16.024083302042644,
 1.1543519542861844,
 4.548613162153941,
 9.157786816562547,
 10.26855314310259,
 5.670808898348983,
 6.8120485493496785,
 6.804392489512999,
 6.837679276229511,
 6.8699598312491155,
 6.827666286524367,
 12.551817542219707,
 12.752171096192992,
 14.879504494582683,

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID	                          45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  float64
 3   Delivery_person_Ratings      45593 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weather conditions           45593 non-null  int32
 12  Road_traffic_density         45593 non-null  int32
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  int32
 15  Type_of_vehicle              45593 non-null  int32
 16  multiple_deliveries          45593 non-null  float64
 17  Festival                     45593 non-null  int32
 18  City                         45593 non-null  int32
 19  Time_taken (min)             45593 non-null  float64
 20  Name                         45593 non-null  object
 21  Age                          45593 non-null  int32
dtypes: float64(8), int32(7), int64(1), object(6)
memory usage: 6.4+ MB

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID	                          45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  float64
 3   Delivery_person_Ratings      45593 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weather conditions           45593 non-null  int32
 12  Road_traffic_density         45593 non-null  int32
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  int32
 15  Type_of_vehicle              45593 non-null  int32
 16  multiple_deliveries          45593 non-null  float64
 17  Festival                     45593 non-null  int32
 18  City                         45593 non-null  int32
 19  Time_taken (min)             45593 non-null  float64
 20  Age                          45593 non-null  int32
dtypes: float64(8), int32(7), int64(1), object(5)
memory usage: 6.1+ MB

In [ ]:
train['distances_km']=distances_km

In [ ]:
test['distances_km']=distances_km1

train['Time_Orderd'] = train['Time_Orderd'].values.astype(datetime)

test['Time_Orderd'] = test['Time_Orderd'].values.astype(datetime)

train['Time_Order_picked'] = train['Time_Order_picked'].values.astype(datetime)
test['Time_Order_picked'] = test['Time_Order_picked'].values.astype(datetime)

In [ ]:
train['Time_Orderd'] = train['Time_Orderd'].values.astype(float)

test['Time_Orderd'] = test['Time_Orderd'].values.astype(float)

train['Time_Order_picked'] = train['Time_Order_picked'].values.astype(float)
test['Time_Order_picked'] = test['Time_Order_picked'].values.astype(float)

ValueError: could not convert string to float: '11:30'

In [ ]:
X=train[['Delivery_person_Age','Delivery_person_Ratings','distances_km','Weather conditions','Road_traffic_density','Vehicle_condition','Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City','Age']]

In [ ]:
y=train[['Time_taken (min)']]

In [ ]:
X

,Delivery_person_Age,Delivery_person_Ratings,distances_km,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Age
0,37.0,4.9,2.288918,4,0,2,3,2,0.0,0,2,2
1,34.0,4.5,14.777225,3,1,2,3,3,1.0,0,0,2
2,23.0,4.4,1.136966,2,2,0,1,2,1.0,0,2,1
3,38.0,4.7,5.698649,4,3,0,0,2,1.0,0,0,2
4,32.0,4.6,4.510871,0,0,1,3,3,1.0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
45588,30.0,4.8,1.144920,5,0,1,2,2,0.0,0,0,2
45589,21.0,4.6,11.007735,5,1,0,0,2,1.0,0,0,1
45590,30.0,4.9,3.383273,0,2,1,1,3,0.0,0,0,2
45591,20.0,4.7,4.558840,0,0,0,3,2,1.0,0,0,0
45592,23.0,4.9,8.924579,1,3,2,3,3,1.0,0,0,1

In [ ]:
test_x=test[['Delivery_person_Age','Delivery_person_Ratings','distances_km','Weather conditions','Road_traffic_density','Vehicle_condition','Type_of_order','Type_of_vehicle','multiple_deliveries','Festival','City','Age']]

In [ ]:
test["Time_taken (min)"]=0

In [ ]:
test_y=test[['Time_taken (min)']]

In [ ]:
train['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M')
train['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], format='%H:%M')

ValueError: unconverted data remains: 0

In [ ]:
train['Time_taken_to_pick']=train['Time_Orderd']-train['Time_Order_picked']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
train['Time_Orderd'].dtypes

dtype('O')

In [ ]:
from sklearn import linear_model

reg=linear_model.LinearRegression()

reg.fit(X,y)

LinearRegression()

In [ ]:
y_pred = reg.predict(test_x)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 50,max_depth=10,n_jobs=5,random_state = 0)

In [ ]:
regressor.fit(X,y)

<ipython-input-137-1e6895c5868a>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X,y)

RandomForestRegressor(max_depth=10, n_estimators=50, n_jobs=5, random_state=0)

In [ ]:
Y_pred = regressor.predict(test_x)

In [ ]:
z=df1['ID\t']

In [ ]:
z.size

11399

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(test_y, Y_pred)

0.0

In [ ]:
Y_pred.size

11399

In [ ]:
df2 = pd.DataFrame({
    "ID":z,
    "Time_taken (min)": Y_pred
})

df2.to_csv("submission1.csv", index=False)

In [ ]:
y_pred

array([[22.19258303],
       [30.43091189],
       [29.23309655],
       ...,
       [21.25949601],
       [25.40233469],
       [17.40626558]])

In [ ]:
df2 = pd.DataFrame({
    "ID":z,
    "Time_taken (min)": Y_pred
})

df2.to_csv("amazon_hackerearth_submission.csv", index=False)